{% extends 'base.html.twig' %}

{% block container %}
    <div class="row mt-5">
        <div class="col-12">
            <form action="{{ path('app.datasets.generate') }}" method="post">
                <div class="form-row mt-1">
                    <div class="col">
                        <label for="set-a">API dataset size</label>
                    </div>
                    <div class="col">
                        <input type="number" id="set-a"
                               min="{{ dataset.min_size }}" max="{{ dataset.max_size }}"
                               name="{{ dataset.api_dataset.name }}" class="form-control"
                               placeholder="Dataset size (from {{ dataset.min_size }} to {{ dataset.max_size }})" required>
                    </div>
                </div>
                <div class="form-row mt-1">
                    <div class="col">
                        <label for="set-b">Regexp dataset size</label>
                    </div>
                    <div class="col">
                        <input type="number" id="set-b"
                               min="{{ dataset.min_size }}" max="{{ dataset.max_size }}"
                               name="{{ dataset.regexp_dataset.name }}" class="form-control"
                               placeholder="Dataset size (from {{ dataset.min_size }} to {{ dataset.max_size }})" required>
                    </div>
                </div>
                <div class="form-row mt-1">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}