{% extends 'base.html.twig' %}

{% block container %}
    <div class="row mt-5">
        <div class="col-12">
            <h3>Datasets list will be here soon</h3>
            <a href="{{ path('app.index') }}">Back to main</a>
        </div>
    </div>
{% endblock %}